<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BloomCAP - Welcome</title>
    <style>
        body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        h1,
        span {
            font-size: 17px;
            color: #2e2e2e;
            float: left;
        }

        h2,
        p,
        h3,
        span,
        h4,
        h5 {
            font-family: Tahoma, Geneva, sans-serif;
            color: #2e2e2e;
            margin: 0;
        }

        p {
            display: block;
            font-size: 14px;
        }

        h4 {
            margin: 5px 0 0 0;
        }

        .clr {
            clear: both;
            line-height: 1px;
        }
    </style>
</head>

<body>
    <div style="width:700px; height:auto;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">

        <div style="background:#a0bb3a;padding: 20px 0;text-align: center;width: 100%;">
            <img src="https://s3.ap-south-1.amazonaws.com/bloom-static/logo.png" alt="logo" />
        </div>

        <div style=" margin: 30px 30px 30px 20px;">
            <strong style="font-weight:bold; margin:30px 0 0 20px; float:none;">Dear {{name}},</strong>
            <p style=" padding:10px 0;margin:10px 0 0 20px; line-height: 23px;">Welcome to BloomCAP! Thank you for attending BloomCAP Life Skill Session at your school.</p>
            <p style=" padding:10px 0;margin:0px 0 0 20px; line-height: 23px;">As promised, we have launched BloomCAP app.
                <strong>Download our app available on
                    <a href="https://play.google.com/store/apps/details?id=org.bloomcap.student" target="_blank">Play Store</a> or
                    <a href="https://itunes.apple.com/in/app/bloomcap/id1343940306?mt=8" target="_blank">App Store</a> and activate your registration to get priority & free access to practice tests, solutions
                    paper & more.</strong>
            </p>
            <p style=" padding:10px 0;margin:0px 0 0 20px;line-height: 23px;">BloomCAP through its Life Skill Sessions at school & Mobile/Web app developed under the guidance of experts,
                aims to provide you one-stop solution for all your academic & life skill needs.
                <a href="https://www.youtube.com/watch?v=3WQArSrAhmg" target="_blank">Know more</a>
            </p>

        </div>

        <div style="margin: 0 0 30px 28px; clear: both;">
            <div style="display: inline-block; width: 30%; text-align: center;">
                <div style="width: 48%; height: 34px; margin: 0 auto 7px;">
                    <div style="float: left; margin-right: 10px;">
                        <img src="https://s3.ap-south-1.amazonaws.com/bloom-static/video.png" alt="Video" style="width:34px;">
                    </div>
                    <em style="margin-top: 7px; font-size: 16px; font-weight: bold; font-style: normal; float: left;">Video</em>
                </div>

                <span style="display: block; margin-top: 0px; margin-right:10px; font-size: 16px;">Explore & digest content at your pace</span>

            </div>
            <div style="display: inline-block; width: 30%; text-align: center;">
                <div style="width: 54%; height: 34px; margin: 0 auto 7px;">
                    <div style="float: left; margin-right: 10px;">
                        <img src="https://s3.ap-south-1.amazonaws.com/bloom-static/practice.png" alt="Practice" style="width:34px;">
                    </div>
                    <em style="margin-top: 7px; font-size: 16px; font-weight: bold; font-style: normal; float: left;">Practice</em>
                </div>
                <span style=" display: block; margin-top: 0;margin-right:10px;font-size: 16px;">Enhance, Retain and Master the concepts</span>

            </div>

            <div style="display: inline-block; width: 32%; text-align: center;">
                <div style="width: 48%; height: 34px; margin: 0 auto 7px;">
                    <div style="float: left; margin-right: 10px;">
                        <img src="https://s3.ap-south-1.amazonaws.com/bloom-static/test.png" alt="Test" style="width:34px;">
                    </div>
                    <em style="margin-top: 7px; font-size: 16px; font-weight: bold; font-style: normal; float: left;">Test</em>
                </div>
                <span style=" display: block; margin-top: 0;font-size: 16px;">Get prepared and alleviate anxiety for exams</span>

            </div>
        </div>
        <div style="background:#a0bb3a;padding: 15px 40px;text-align: left; margin-top:30px;color:#fff;">
            <h4 style="font-family:Tahoma, Geneva, sans-serif;color:#fff; margin:0; font-size: 20px;">Happy Blooming</h4>
            <h5 style="font-family:Tahoma, Geneva, sans-serif;color:#ffc20e; margin:0;font-size: 18px; font-weight: normal; margin: 3px 0;">Cheers!</h5>
            <h6 style="font-family:Tahoma, Geneva, sans-serif;color:#fff; margin:0;font-size: 16px;font-weight: normal;">BloomCAP Team</h6>
        </div>

    </div>
</body>

</html>